.text1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20pt;
  margin-right: 20px;
  color: rgb(61, 60, 60);
}

table {
  border-collapse: collapse;
  margin: auto auto;
  margin-top: 20px;
}

table td {
  border: 1px solid black;
  padding: 10px;
}

.hari {
  background: lightseagreen;
  font-size: 1.5em;
}
tr td {
  font-size: 1.5em;
}

span {
  color: rgb(3, 113, 108);
}

.keterangan {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 20pt;
  margin-right: 20px;
  color: rgb(61, 60, 60);
}


